dify/v1/v1.1-dev.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: '[Demo]  單一意圖'
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: df6b16f3-b5d7-4738-a409-8f58fd95c46d
    name: N8N_ACTIVE_BASE_URL
    selector:
    - env
    - N8N_ACTIVE_BASE_URL
    value: http://172.24.16.1:30000/webhook/
    value_type: string
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: 你好，我是ITRI SMO虛擬助理
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1742446926046-false-1742442730885-target
      selected: false
      source: '1742446926046'
      sourceHandle: 'false'
      target: '1742442730885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1742448090528-source-1742448389805-target
      selected: false
      source: '1742448090528'
      sourceHandle: source
      target: '1742448389805'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1742448389805-false-1742442828989-target
      selected: false
      source: '1742448389805'
      sourceHandle: 'false'
      target: '1742442828989'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1742445883218-source-1742446926046-target
      selected: false
      source: '1742445883218'
      sourceHandle: source
      target: '1742446926046'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1742447067053-source-1742447332580-target
      selected: false
      source: '1742447067053'
      sourceHandle: source
      target: '1742447332580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1742447332580-false-17424491792190-target
      selected: false
      source: '1742447332580'
      sourceHandle: 'false'
      target: '17424491792190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1742447332580-true-1742442861275-target
      selected: false
      source: '1742447332580'
      sourceHandle: 'true'
      target: '1742442861275'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1742442590290-source-1742445883218-target
      selected: false
      source: '1742442590290'
      sourceHandle: source
      target: '1742445883218'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1742472808495-source-1742472982494-target
      selected: false
      source: '1742472808495'
      sourceHandle: source
      target: '1742472982494'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1742448389805-true-1742476497103-target
      selected: false
      source: '1742448389805'
      sourceHandle: 'true'
      target: '1742476497103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: answer
      id: 1742442861275-source-1742476440004-target
      selected: false
      source: '1742442861275'
      sourceHandle: source
      target: '1742476440004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: llm
      id: 1742476440004-source-1742472808495-target
      selected: false
      source: '1742476440004'
      sourceHandle: source
      target: '1742472808495'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1742446926046-f84ddd9c-2ec2-4c9a-982f-dbf050004c96-1742476584067-target
      source: '1742446926046'
      sourceHandle: f84ddd9c-2ec2-4c9a-982f-dbf050004c96
      target: '1742476584067'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: llm
      id: 1742476584067-source-1742448090528-target
      source: '1742476584067'
      sourceHandle: source
      target: '1742448090528'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: llm
      id: 1742476497103-source-1742447067053-target
      selected: false
      source: '1742476497103'
      sourceHandle: source
      target: '1742447067053'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: http-request
      id: 1742472982494-source-1743166013344-target
      source: '1742472982494'
      sourceHandle: source
      target: '1743166013344'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: 1743166013344-source-1743166789216-target
      source: '1743166013344'
      sourceHandle: source
      target: '1743166789216'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: 1743166013344-fail-branch-1743167839860-target
      source: '1743166013344'
      sourceHandle: fail-branch
      target: '1743167839860'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables: []
      height: 54
      id: '1742442590290'
      position:
        x: -203.93130416053774
        y: 262
      positionAbsolute:
        x: -203.93130416053774
        y: 262
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[Error] 我是 ITRI SMO 專屬助理，只能針對 SMO 相關功能與需求提供問答服務，並非通用型助理。'
        desc: ''
        selected: false
        title: 直接回覆 2
        type: answer
        variables: []
      height: 132
      id: '1742442730885'
      position:
        x: 1016.490017614766
        y: 454.2241281560823
      positionAbsolute:
        x: 1016.490017614766
        y: 454.2241281560823
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[Error] 目前系統僅支援單一意圖類型的操作，請重新描述您的單一需求'
        desc: ''
        selected: false
        title: 直接回覆 3
        type: answer
        variables: []
      height: 116
      id: '1742442828989'
      position:
        x: 1780.1371524326835
        y: 496.20935617928353
      positionAbsolute:
        x: 1780.1371524326835
        y: 496.20935617928353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 8078c911-b57a-4360-af34-bce7400226f9
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: rerank-english-v2.0
            provider: cohere
          score_threshold: null
          top_k: 1
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-small
              embedding_provider_name: openai
              vector_weight: 1
        query_variable_selector:
        - '1742447067053'
        - text
        retrieval_mode: multiple
        selected: false
        title: '[Done]意圖轉Scenario轉換器'
        type: knowledge-retrieval
      height: 54
      id: '1742442861275'
      position:
        x: 2880.2236005305413
        y: 321.70006837147537
      positionAbsolute:
        x: 2880.2236005305413
        y: 321.70006837147537
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: test
        desc: ''
        height: 512
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"font-size:
          16px;","text":"意圖識別階段","type":"text","version":1}],"direction":"ltr","format":"left","indent":0,"type":"paragraph","version":1,"textFormat":1}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 1921
      height: 512
      id: '1742442983144'
      position:
        x: 181.78415400223457
        y: 158.8733612444438
      positionAbsolute:
        x: 181.78415400223457
        y: 158.8733612444438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 1921
    - data:
        author: test
        desc: ''
        height: 527
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"意圖處理階段","type":"text","version":1}],"direction":"ltr","format":"left","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 1288
      height: 527
      id: '17424430040480'
      position:
        x: 2154.6513274257745
        y: 158.8733612444438
      positionAbsolute:
        x: 2154.6513274257745
        y: 158.8733612444438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 1288
    - data:
        author: test
        desc: ''
        height: 553
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"參數補充階段","type":"text","version":1}],"direction":"ltr","format":"left","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: '  (2)'
        type: ''
        width: 1255
      height: 553
      id: '17424431355940'
      position:
        x: 3484.0663703938076
        y: 158.8733612444438
      positionAbsolute:
        x: 3484.0663703938076
        y: 158.8733612444438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 1255
    - data:
        context:
          enabled: true
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: cc5a2610-c9fc-43f8-9bca-3f3f5281fde3
          role: system
          text: "請閱讀以下文本，並判斷其是否與網管 SMO（Service Management and Orchestration）相關：\n\
            文本:\n\n{{#sys.query#}}\n\n若相關，請在「reason」欄位中列出與 SMO 相關的關鍵字或核心概念，並簡要說明原因；\n\
            若不相關，請在「reason」欄位中簡要說明不相關的原因。\n\n請以 JSON 格式輸出分析結果，結構如下：\n\n{\n  \"result\"\
            : \"TRUE\" 或 \"FALSE\",\n  \"reason\": \"說明原因 (若為 TRUE，請列出 SMO 相關關鍵字並簡要說明；若為\
            \ FALSE，則說明不相關原因)\"\n}\n\n目前 SMO 可支援的意圖包括：\n- 「抑制單一場域訊號干擾」\n- 「查詢單一場域基站資訊」\n\
            \n（由於「取得 UE 資訊（連線狀態、訊號品質、SINR Map 等）」也屬於網管層級的查詢行為，因此視為 SMO 相關領域。）\n\n\
            請依上述需求給出最終結果。\n"
        selected: false
        title: '[Done]網管SMO內容分別器'
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1742445883218'
      position:
        x: 213.9230434412757
        y: 262
      positionAbsolute:
        x: 213.9230434412757
        y: 262
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: f84ddd9c-2ec2-4c9a-982f-dbf050004c96
          conditions:
          - comparison_operator: contains
            id: 2b9bc372-6143-4bb9-81d4-63963c848bd4
            value: 'TRUE'
            varType: string
            variable_selector:
            - '1742445883218'
            - text
          id: f84ddd9c-2ec2-4c9a-982f-dbf050004c96
          logical_operator: and
        desc: ''
        selected: false
        title: '[Done]網管SMO內容分別器'
        type: if-else
      height: 126
      id: '1742446926046'
      position:
        x: 538.9968490643275
        y: 262
      positionAbsolute:
        x: 538.9968490643275
        y: 262
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 09ddf340-a502-4a03-89b5-b69469d3d650
          role: system
          text: "請閱讀以下文本：\n\n{{#sys.query#}}\n\n以下為目前「意圖列表」與其範圍：\n\n「查看UE的Throughput」：\n\
            透過下列 API 查詢並過濾回傳資料，以檢視特定 UE（或一群 UE）的連線狀態、訊號品質、Throughput 等相關統計資訊。\n例如：使用\
            \ [query_throughput_of_ue_by_id] 取得並篩選特定 UE 的吞吐量、連線狀態與訊號品質等。\n\n「查詢 Cell\
            \ 裡面的 UE SINR」：\n針對指定之 Cell，查詢該 Cell 中 UE 的 SINR（Signal-to-Interference-plus-Noise\
            \ Ratio）指標，\n並可擴及 SINR 的分佈情形或視覺化資訊（如 SINR Map）。\n例如：想了解特定 Cell 或範圍內 UE\
            \ 的 SINR 分佈、請求提供或檢視某 Cell 中 UE SINR 的詳細資訊等。\n\n請根據上述定義，判斷文本是否符合任一意圖：\n\
            \n若符合任一意圖，請以 JSON 格式回傳，包含以下欄位：\n{\n  \"intent\": \"對應的意圖名稱\",\n  \"reason\"\
            : \"判斷該意圖的原因\"\n}\n\n若文本與列表中所有意圖皆不符合，請回傳：\n{\n  \"intent\": \"NONE\",\n\
            \  \"reason\": \"無法對應至任何已知意圖\"\n}\n\n請勿包含任何其他文字或解釋。\n"
        selected: false
        title: '[Done]文本轉單一意圖器'
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1742447067053'
      position:
        x: 2226.6032065324084
        y: 292.74373086275045
      positionAbsolute:
        x: 2226.6032065324084
        y: 292.74373086275045
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not contains
            id: bf0d6b33-24ef-423f-9ba1-50fbe2f5191b
            value: NONE
            varType: string
            variable_selector:
            - '1742447067053'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: '[Done]單一意圖提取器'
        type: if-else
      height: 126
      id: '1742447332580'
      position:
        x: 2560.9213410913217
        y: 292.74373086275045
      positionAbsolute:
        x: 2560.9213410913217
        y: 292.74373086275045
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 60043e91-9fda-43bc-941a-8d0e748d9b53
          role: system
          text: "請判斷以下文本是否只包含單一意圖。若是單一意圖，請輸出：\n{\n  \"intent\": \"single_intent\"\
            ,\n  \"reason\": \"此處填入判斷該文本為單一意圖的原因\"\n}\n若包含多個意圖，請輸出：\n{\n  \"intent\"\
            : \"multi_intent\",\n  \"reason\": \"此處填入判斷該文本包含多個意圖的原因\"\n}\n請勿輸出任何其他文字或解釋。\n\
            \n文本：\n\"\"\"\n{{#sys.query#}}\n\"\"\"\n"
        selected: false
        title: '[Done]單一意圖辨識器'
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1742448090528'
      position:
        x: 1135.6124801680169
        y: 262
      positionAbsolute:
        x: 1135.6124801680169
        y: 262
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 581b06eb-cb6f-4bfb-a796-b26475c573e1
            value: single_intent
            varType: string
            variable_selector:
            - '1742448090528'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: '[Done]條件分支 4'
        type: if-else
      height: 126
      id: '1742448389805'
      position:
        x: 1427.4197311819594
        y: 262
      positionAbsolute:
        x: 1427.4197311819594
        y: 262
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[Error] 目前不支持該使用者的意圖請求{{#1742447067053.text#}}'
        desc: ''
        selected: false
        title: 直接回覆 4
        type: answer
        variables: []
      height: 119
      id: '17424491792190'
      position:
        x: 2880.2236005305413
        y: 490.2503765111651
      positionAbsolute:
        x: 2880.2236005305413
        y: 490.2503765111651
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1742442861275'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 3e94dad6-489b-4699-83fb-61de468de245
          role: system
          text: 你是一個專業的工作流管理檢查員，會請執行一系列的檢查。
        - id: fa92de14-f33b-41f9-b720-be442a1cac8d
          role: user
          text: '請確認以下的內容是否為 n8n 的 workflow 格式，並且解釋這段 workflow 是否有扣緊有關於，如果我沒有 path
            就幫我設為 None，如果有請把 path 給找出來。

            提供的意圖：

            {{#1742447067053.text#}}

            內容：

            {{#context#}}'
        - id: 70f5b694-49c1-44b2-afc6-3e6acc2eaf55
          role: assistant
          text: "請輸出為 JSON 格式，格式如下：\njson\n{\n  \"path\": \"XXX\",\n  \"reason\":\
            \ \"這裡填寫檢查或解釋的原因\"\n}"
        selected: false
        title: 確認參數存在
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1742472808495'
      position:
        x: 3523.53395098097
        y: 306.8859096722489
      positionAbsolute:
        x: 3523.53395098097
        y: 306.8859096722489
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: 請提取出 {{#1742472808495.text#}}內的path參數
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        parameters:
        - description: path
          name: path
          required: false
          type: string
        query:
        - '1742472808495'
        - text
        reasoning_mode: prompt
        selected: false
        title: Workflow API路徑提取器
        type: parameter-extractor
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
      height: 98
      id: '1742472982494'
      position:
        x: 3886.815265736423
        y: 306.8859096722489
      positionAbsolute:
        x: 3886.815265736423
        y: 306.8859096722489
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[Info] 目前已找到意圖如下：

          {{#1742447067053.text#}}

          {'
        desc: ''
        selected: false
        title: 直接回覆 6
        type: answer
        variables: []
      height: 119
      id: '1742476440004'
      position:
        x: 3187.3245393479674
        y: 321.70006837147537
      positionAbsolute:
        x: 3187.3245393479674
        y: 321.70006837147537
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[Info] 正在尋找對應的意圖...

          '
        desc: ''
        selected: false
        title: 直接回覆 7
        type: answer
        variables: []
      height: 100
      id: '1742476497103'
      position:
        x: 1780.1371524326835
        y: 292.74373086275045
      positionAbsolute:
        x: 1780.1371524326835
        y: 292.74373086275045
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[Info] 系統確認為SMO網管意圖


          '
        desc: ''
        selected: false
        title: 直接回覆 8
        type: answer
        variables: []
      height: 100
      id: '1742476584067'
      position:
        x: 834.654014337347
        y: 262
      positionAbsolute:
        x: 834.654014337347
        y: 262
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 請求
        type: http-request
        url: '{{#env.N8N_ACTIVE_BASE_URL#}}{{#1742472982494.path#}}'
        variables: []
      height: 152
      id: '1743166013344'
      position:
        x: 4231.739613032203
        y: 306.8859096722489
      positionAbsolute:
        x: 4231.739613032203
        y: 306.8859096722489
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[ Info ] 以下是關於API的輸出結果：

          {{#1743166013344.body#}}

          {{#1743166013344.files#}}'
        desc: ''
        selected: false
        title: 直接回覆 7
        type: answer
        variables: []
      height: 138
      id: '1743166789216'
      position:
        x: 4535.739613032203
        y: 306.8859096722489
      positionAbsolute:
        x: 4535.739613032203
        y: 306.8859096722489
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '[ Error ] API執行出現問題，請稍後再試。'
        desc: ''
        selected: false
        title: 直接回覆 8
        type: answer
        variables: []
      height: 116
      id: '1743167839860'
      position:
        x: 4535.739613032203
        y: 463.8859096722489
      positionAbsolute:
        x: 4535.739613032203
        y: 463.8859096722489
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -3741.1649081642263
      y: -111.12590408722815
      zoom: 1.0474006006345127
