n8n-version/v1.1/Query UE Throughput.json
{
  "name": "Query UE Throughput",
  "nodes": [
    {
      "parameters": {
        "path": "d9c7c32d-5147-4c09-8c20-0762307b1e3b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -120,
        -140
      ],
      "id": "755fba7d-f332-46f1-bc4e-6e5d4126db45",
      "name": "Webhook",
      "webhookId": "d9c7c32d-5147-4c09-8c20-0762307b1e3b"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        -140
      ],
      "id": "0643556b-b848-43dc-b3d9-4ac276c7ac76",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mqtt from intent_interference;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        -140
      ],
      "id": "ce392a3c-80cb-48f0-a5b3-cc7c7ca8113f",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "asYAK3RTsxw4JFvs",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "請將以下這句話換句話說，以繁體中文輸出結果，專有名詞使用英文代替\n\"\"\"\nITRI 51館5F的網路有20個UE，其throughput統計如下表\n\"\"\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        500,
        -140
      ],
      "id": "be7cec07-d104-46e0-969f-c2e7e8f6ef83",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VZOUPii6afDTXBXw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * 假設你在 Code Node 中，想從上游讀取 input 並輸出兩張 table\n * (Summary & Detail)，最後放到 chain 裡回傳。\n */\n\n// 1) 你的 createTwoTables 函式\nfunction createTwoTables(jsonData) {\n  // 統計變數\n  let centerCount = 0;\n  let centerTotal = 0;\n  let edgeCount   = 0;\n  let edgeTotal   = 0;\n\n  // 用於第二張表 (UE 明細)\n  const ueDetails = [];\n\n  // 迭代 JSON 結構: cells -> ues\n  if (Array.isArray(jsonData.cells)) {\n    for (const cell of jsonData.cells) {\n      if (Array.isArray(cell.ues)) {\n        for (const ue of cell.ues) {\n          const ueId = ue.ue_id || \"N/A\";\n          const dlTp = ue.dl_throughput || 0;\n          const isCenter = ue.interfered === 0;\n\n          // 收集明細\n          ueDetails.push({ ueId, dlTp });\n\n          // 根據 interfered=1 or 0 累加\n          if (isCenter) {\n            centerCount++;\n            centerTotal += dlTp;\n          } else {\n            edgeCount++;\n            edgeTotal += dlTp;\n          }\n        }\n      }\n    }\n  }\n\n  // 計算中心/邊緣平均\n  const centerAvg = centerCount ? centerTotal / centerCount : 0;\n  const edgeAvg   = edgeCount   ? edgeTotal / edgeCount   : 0;\n\n  // 全部加總\n  const totalSum   = centerTotal + edgeTotal;\n  const totalCount = centerCount + edgeCount;\n  const totalAvg   = totalCount ? totalSum / totalCount : 0;\n\n  // ===============================\n  // 第一張表 (Summary)\n  // ===============================\n  const summaryColumns = [`C:E = ${centerCount} : ${edgeCount}`, \"Total (Mbps)\", \"Average (Mbps)\"];\n  const summaryData = [\n    [\"Center UE\",      centerTotal.toFixed(2), centerAvg.toFixed(2)],\n    [\"Edge UE\",        edgeTotal.toFixed(2),   edgeAvg.toFixed(2)],\n    [\"Center + Edge\",  totalSum.toFixed(2),    totalAvg.toFixed(2)]\n  ];\n\n  // ===============================\n  // 第二張表 (Details)\n  // ===============================\n  const detailColumns = [\"UE no.\", \"Throughput (Mbps)\"];\n  const detailData = ueDetails.map(({ ueId, dlTp }) => {\n    return [ueId, dlTp.toFixed(2)];\n  });\n\n  // 建立 chainOutput 陣列\n  const chainOutput = [];\n\n  // (A) 文字訊息\n  chainOutput.push({\n    type: \"message\",\n    content: $input.first().json.message.content || \"ITRI 51館5樓的網路中有20個UE，其throughput的統計如下表所示。\"\n  });\n\n  // (B) 第一張表 → 多包一層 content\n  chainOutput.push({\n    type: \"table\",\n    content: {\n      columns: summaryColumns,\n      data: summaryData\n    }\n  });\n\n  // (C) 第二張表 → 也多包一層 content\n  chainOutput.push({\n    type: \"table\",\n    content: {\n      columns: detailColumns,\n      data: detailData\n    }\n  });\n\n  // 回傳\n  // 使最外層是 [ { chain: chainOutput } ]\n  return [\n    {\n      chain: chainOutput\n    }\n  ];\n}\n\n// 2) 在 n8n 的 Code Node 裡，從上游讀取 input\nconst inputData = $('Arrange Output').first().json; // 看你的 JSON 結構 (cells might be at inputData.cells)\n\n// 3) 呼叫 createTwoTables\nconst result = createTwoTables(inputData);\n\n// 4) 最後將結果 return (n8n Code Node 需要回傳陣列)\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -140
      ],
      "id": "259104fe-734a-4dd6-b1ce-7cccd55f3487",
      "name": "woody_format",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Loop through each item in n8n's input\nconst results = $input.first().json.mqtt\n\n// Return the new JSON structure\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -140
      ],
      "id": "db4616d7-699b-442e-8aed-ec0186802c2d",
      "name": "Arrange Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Arrange Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "woody_format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "woody_format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arrange Output": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0fa1afc2-5c39-4635-b8d1-f24d33812599",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7de348537acee2b0028f62848811b8b267540c16db86c846ff113b32c5a94864"
  },
  "id": "YzY7cAVHT0wQiMHu",
  "tags": [
    {
      "createdAt": "2025-04-01T08:26:25.955Z",
      "updatedAt": "2025-04-01T08:26:25.955Z",
      "id": "rK74ZMzlRcIWWBG2",
      "name": "v1.0-prod"
    }
  ]
}