n8n-version/Get_SINR_Map.json
{
  "name": "Get SINR Map",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9a74bbcd-861d-4c03-b3b4-1410c6dddb08",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-280, 0],
      "id": "7ee5e026-9323-4413-ac65-539224674035",
      "name": "Webhook",
      "webhookId": "1f7d9e8a-ebe1-4cf0-93dc-d4b9f54ea3b1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "={{ $node[\"Read/Write Files from Disk\"].json.data }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [160, 0],
      "id": "ca752461-3beb-4e02-bc82-26b6fd7119d3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fileSelector": "={{ \"/files/get_sinr_map.png\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-60, 0],
      "id": "202bea10-66e7-4c4b-a50b-351f678b1076",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba2743c8-66d0-4c07-8617-016c1f503bed",
  "meta": {
    "instanceId": "8c03776bd71526d178f0c355cc8db1764c13f5c6decc86072c8c1286d2f4cfd7"
  },
  "id": "FgHKPzWjpyodtamM",
  "tags": []
}
